@font-face {
    font-family: 'Kanji Stroke Order';
    src: url('webfont/KanjiStrokeOrders_v3.001.eot');
    src: url('webfont/KanjiStrokeOrders_v3.001.eot?#iefix') format('embedded-opentype'),
    url('webfont/KanjiStrokeOrders_v3.001.woff') format('woff'),
    url('webfont/KanjiStrokeOrders_v3.001.ttf') format('truetype'),
    local('KanjiStrokeOrders');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "mplus-2p-regular", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "Hiragino Mincho Pro","メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
/*
#kanjiSelect, #keywordSelect, #showAnswer{
	background-color: #ccc;
	padding: 6px;

}
*/

html, body {
    height:100%;
}


.box {
    margin-top: 1em;
    margin-bottom: 1em;
}

.questionBox, .answerBox {
    min-width: 100px;
    max-width: 300px;
    width: 45%;
    float: left;
    background-color: #eee;
    margin-right: 1em;
}

.kanjiStrokeOrder, #question.kanjiStrokeOrder {
    font-family: Kanji Stroke Order, "mplus-2p-regular", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "Hiragino Mincho Pro","メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 20em;
}

.small, .small-head {
	font-size: 70%;
}
.small-head {
    font-weight: bold;
}

/* Derived from http://www.cssbutton.me/ScottTracy/4fea99463f2df0f6050000e3 */
.button, .smallButton, input {
    display: inline-block;
    background: #e4e4e4;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#d7d7d7));
    background: -moz-linear-gradient(center top, #f6f6f6 0%, #d7d7d7 100%);
    -webkit-box-shadow: -1px 1px 0px 0px #dfdcdc inset, 1px -1px 0px 0px #bfbfbf inset;
    -moz-box-shadow: -1px 1px 0px 0px #dfdcdc inset, 1px -1px 0px 0px #bfbfbf inset;
    box-shadow: -1px 1px 0px 0px #dfdcdc inset, 1px -1px 0px 0px #bfbfbf inset;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    color: #595959;
}
.button {
    padding: .15em .5em;
    font-size: 105%;
    line-height: 145%;
}
.smallButton {
}

.button:hover {
    -webkit-box-shadow: 0px 0px 0px 1px #a8a8a8 inset, 1px 1px 4px 0px #bababa;
    -moz-box-shadow: 0px 0px 0px 1px #a8a8a8 inset, 1px 1px 4px 0px #bababa;
    box-shadow: 0px 0px 0px 1px #a8a8a8 inset, 1px 1px 4px 0px #bababa;
    color: #424242;
}

.button:active {
    background: #e6e6e6;
    -webkit-box-shadow: 0px 1px 5px 0px #808080 inset;
    -moz-box-shadow: 0px 1px 5px 0px #808080 inset;
    box-shadow: 0px 1px 5px 0px #808080 inset;
}