#kanjiSelect, #keywordSelect, #showAnswer {
	font-size: 200%;
}

@font-face {
    font-family: 'Kanji Stroke Order';
    src:
    local('KanjiStrokeOrders'),
    url('KanjiStrokeOrders.ttf');
}

body {
    font-family: "mplus-2p-regular", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "Hiragino Mincho Pro","メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
} 

.kanjiStrokeOrder {
    font-family: Kanji Stroke Order, "mplus-2p-regular", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "Hiragino Mincho Pro","メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 128;
}